 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>GPA | Calculator</title>
	<link rel="shortcut icon" href="public/asserts/icons8_greater_3.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<script  src="public/js/calculate.js" defer /></script>
	<script  src="public/js/tab.js" defer /></script>
</head>
<body>
	
	<header id="heads">
		<div class="wrap">
			<div class="img1">
				<img src="public/asserts/school.png" alt="">
			</div>
			<div class="title">
				<h1>GPA Calculator</h1>
			</div>
			<div class="img1">
				<img src="public/asserts/Book Lovers.png" alt="">
			</div>
		</div>
	</header>

	<nav id="navtab">
		<div class="wrap">
			<a href="tab-1" class="active-tab tab"><div class="calc-tab">
				<h4>Calculator</h4>
			</div></a>
			<a href="cgpa.html" class="tab"><div class="cgpa-tab ">
				<h4>CGPA</h4>
			</div></a>
			<a href="tab-3" class="tab"><div class="pos-tab">
				<h4>Position</h4>
			</div></a>
			
		</div>
	</nav>

<article id="tab-1" class="tabs">
	<section id="table" class="table">
		<div class="wrap">
			<div class="mag">
				<div class="calc">

					<!-- <div class="sem-head">
						<div><h4>semester 1</h4></div>
						<div><img src="public/asserts/icons8_drop_down_2.ico" alt=""></div>
					</div> -->

					<div class="ori-head">
						<div class="ori-main">
							<h4>semester 1</h4>
							<div><img src="public/asserts/icons8_minus_sign.ico" alt=""></div>
						</div>

						<div class="t-head">
							<h4>#</h4>
							<h4>course</h4>
							<h4>scores</h4>
							
							<h4>credit</h4>
							<h4>course type</h4>
							<h4>grade</h4>						
						</div>

						<div class="t-row-1 t-row">
							<div class="t-data">
								<div class="entry ids">1</div>
								<div class="entry"><input type="text" name="course" placeholder="-"></div>
								<div class="entry"><input type="text" name="scores" placeholder="-"></div>
								
								<div class="entry"><input type="text" name="credit" placeholder="-"></div>
								<div class="entry"><input type="text" name="course-type" placeholder="regular"></div>
								<div class="entry grade-point">-</div>						
							</div>

						</div>
						
					</div>
					
				</div>
				<div class="result">
					<div class="c-head">
						<div class="c-main">
							<div class="gpa-head"><h4>current gpa</h4></div>
							
						</div>

						<div class="r-head">
							<h4>#</h4>
							<h4>course name</h4>
												
						</div>

						<div class="r-row">
							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
												
							</div>

							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
														
							</div>

							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
														
							</div>
						</div>
						
					</div>
					
				</div>
		</div>
		</div>
	</section>



<article id="tab-1" class="tabs">
	<section id="table" class="table">
		<div class="wrap">
			<div class="mag">
				<div class="calc">

					<!-- <div class="sem-head">
						<div><h4>semester 1</h4></div>
						<div><img src="public/asserts/icons8_drop_down_2.ico" alt=""></div>
					</div> -->

					<div class="ori-head">
						<div class="ori-main">
							<h4>semester 1</h4>
							<div><img src="public/asserts/icons8_minus_sign.ico" alt=""></div>
						</div>

						<div class="t-head">
							<h4>#</h4>
							<h4>course</h4>
							<h4>scores</h4>
							
							<h4>credit</h4>
							<h4>course type</h4>
							<h4>grade</h4>						
						</div>

						<div class="t-row-2 t-row">
							<div class="t-data">
								<div class="entry ids">1</div>
								<div class="entry"><input type="text" name="course" placeholder="-"></div>
								<div class="entry"><input type="text" name="scores" placeholder="-"></div>
								
								<div class="entry"><input type="text" name="credit" placeholder="-"></div>
								<div class="entry"><input type="text" name="course-type" placeholder="regular"></div>
								<div class="entry grade-point">-</div>						
							</div>

						</div>
						
					</div>
					
				</div>
				<div class="result">
					<div class="c-head">
						<div class="c-main">
							<div class="gpa-head"><h4>current gpa</h4></div>
							
						</div>

						<div class="r-head">
							<h4>#</h4>
							<h4>course name</h4>
												
						</div>

						<div class="r-row">
							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
												
							</div>

							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
														
							</div>

							<div class="r-data">
								<h4>1</h4>
								<h4>database</h4>
														
							</div>
						</div>
						
					</div>
					
				</div>
		</div>
		</div>
	</section>




		




</body>
</html>